html {
  overflow: hidden;
  
}
body {
  position: relative;
  margin: 0;
  font-size: 26px;
  font-family: 'Permanent Marker', cursive;
 
} 

.xyz{
height: 100vh;
transform-style: preserve-3d; 
overflow-x:hidden;
overflow-y:auto; 
perspective: 1px;
background-color: aqua; 
}


h1{
  font-size: 300px;
  text-align: center;
  color:white;
}
  
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0%;
  left: 0%;
  background-color: #111;
  background-image: url(../../assets/images/image_pages/images_menu/shieldlogo.jpg);
  background-position: 20px;
  /* background-size:100%; */
  background-attachment: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-size:100% 100%;
  
}

#menu{
  
  position:fixed;
  top: 5%;
  left: 2%;
  color: white;
  display:inline-block;
  z-index: 9999; 
  
}

/* @media screen and (max-width: 1299px){   
  #menu{   
    font-size: 100px !important;
    }  
  }


  @media screen and (max-width: 1299px){   
    .parallax-wrapper2::before{   
      display: none !important;
      background-color: gray !important;
      }  
    }


    @media (orientation: landscape) {

      #menu{
        font-size: 50px !important;

    }
  } */
  

#card1{
 
background-color: #818181;
/* background-color: navy; */
color: #f1f1f1;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;

}

#spiderman{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

  #card2{
    background-color: #818181;
    color: #f1f1f1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  #video2{
    position: absolute;
    top: 20%;
    right: 70px;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 50%;
}

/* this is for the body of the carousel -- location */
.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}

#cap{
  width:640px;
  height:460px;
}

/* this is for individual images sizing */
.carousel-inner > .carousel-item > img {
  width:640px;
  height:460px;

 
}

/* adding a link to the carousel image */
.carousel-inner > .carousel-item > a >img {
  width:640px;
  height:460px;
  

 
}

.carousel-inner{
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border-bottom: 10px;
  border-color:rgb(2, 2, 41);
  border-style: solid;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* just made change */
.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    background-size: cover !important;
    box-sizing: border-box;
    transform-style: preserve-3d;
    background-size:100% 100%;
    
}

.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("https://cdn.mos.cms.futurecdn.net/2SCo9xSSW269oJegWUdwHc-650-80.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
    background-size:100% 100%;
    
}

/* made a change */
.parallax-wrapper2 {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    background-size: cover;
    box-sizing: border-box;
    transform-style: preserve-3d;
    background-size:100%;
}
.parallax-wrapper2::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    /* spioderman image */
    /* background-image: url("https://beforesandafters.com/wp-content/uploads/2019/05/CapvCap-e1557913128833-1024x528.jpg"); */
    /* Loki image */
    background-image: url("https://static0.srcdn.com/wordpress/wp-content/uploads/2019/08/Loki-TV-Show-Tom-Hiddleston-1.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
    background-size:100% 100%;
    max-height: 100%;
}

.regular-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: #111;
  background-image: url("https://www.gannett-cdn.com/presto/2019/05/06/USAT/5a72df5b-8627-454e-9b97-108a667932d3-bfb1300_trlcomp_v246.1054.jpg?width=1280");
  background-size: cover;
  z-index: 2;
  position: relative;
  background-size:100% 100%;
}
.regular-wrapper2 {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-image: url("http://movies-and-tv.com/wp-content/uploads/2019/04/ccelebritiesfotomarvel-intro-e1556625768997.jpg");
  background-size: cover;
  z-index: 2;
  position: relative;
  background-size:100% 100%;
}
.regular-wrapper3{
  background-color: #111;
  border:solid;
  border-color: red;
  /* border-left: 50%; */
}
.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaa;
}

.socal{
  display: block;
  /* margin-left: auto;
  margin-right: auto;
  width: 13%; */
  position:relative;
  left: 45%;
  top: 60%;
}
.card-body{
  background-color: #818181;
}

#credit{
  text-align: center;
}
.body1{
margin: 20px 20px 20px 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-height: 450px) {
  
  .parallax-wrapper {background-size: cover;}

}


@media screen and (max-width: 1299px){   
  #menu{   
    font-size: 100px !important;
    }  
  }



    @media (orientation: landscape) {

      #menu{
        font-size: 50px !important;

    }
  }